<!-- Categories Section -->
<section id="categories" class="categories">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.categoriesTitle }}</h3>
            <p>{{ site.categoriesDescription }}</p>
            <div class="row categories-details">
                {% assign animationDelay = 0 %}
                {% for category in site.categoriesBlock %}
                
                    <!-- First row with 3 items (each col-lg-4) -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                            <img class="img-circle" src="{{ site.baseurl }}/img/categories/{{ category.image }}" height="128" width="128" alt="{{ category.title }}">
                            <p>{{ category.text }}</p>
                        </div>
                    </div>

                    {% if forloop.index == 3 %}
                        </div><div class="row categories-details"> <!-- Start a new row for the second set of categories -->
                    {% endif %}

                    {% if forloop.index == 4 %}
                        <!-- Second row with 2 items centered -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                                <img class="img-circle" src="{{ site.baseurl }}/img/categories/{{ category.image }}" height="128" width="128" alt="{{ category.title }}">
                                <p>{{ category.text }}</p>
                            </div>
                        </div>
                        
                        <!-- Add an empty column (offset) to balance the first item and center the second item -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                                <img class="img-circle" src="{{ site.baseurl }}/img/categories/{{ category.image }}" height="128" width="128" alt="{{ category.title }}">
                                <p>{{ category.text }}</p>
                            </div>
                        </div>
                    {% endif %}
                    
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Categories Section -->
