<!-- Mini Science Series Section -->
<section id="mini-science-series" class="mini-science-series">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h3 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.miniSeriesTitle }}</h3>
            <p class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.miniSeries1 }}</p>
            {% for button in site.miniSeriesButtons %}
        	<a  style="margin: 0px 0px 25px 0px" href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
        	{% endfor %}
        </div>
  </div>
</section>
<section id="webinar4" class="mini-science-series">
    <div class="col-lg-8 col-lg-offset-2">
      <h4 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.webinar4Title }}</h4>
      <p class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.webinar4Description }}</p>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="videoWrapper">
        <iframe src="{{ site.webinar4Video }}" style="padding:15px;border:1px white" allow="accelerometer; gyroscope; encrypted-media; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <h5 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Key points to take home</h5>
      <ul class="text-left animated hiding" data-animation="fadeInUp" data-delay="0"> {% for point in site.webinar4Points %}
          <li> {{ point.point }} </li>
          {% endfor %}
      </ul>
      <h5 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Questions asked during the Q&A session</h5>
      <ul class="text-left animated hiding" data-animation="fadeInUp" data-delay="0"> {% for point in site.webinar4Questions %}
          <li> {{ point.point }} </li>
          {% endfor %}
      </ul>
    </div>
</section>
<section id="webinar3" class="mini-science-series">
    <div class="col-lg-8 col-lg-offset-2">
      <h4 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.webinar3Title }}</h4>
      <p class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.webinar3Description }}</p>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="videoWrapper">
        <iframe src="{{ site.webinar3Video }}" style="padding:15px;border:1px white" allow="accelerometer; gyroscope; encrypted-media; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <h5 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Key points to take home</h5>
      <ul class="text-left animated hiding" data-animation="fadeInUp" data-delay="0"> {% for point in site.webinar3Points %}
          <li> {{ point.point }} </li>
          {% endfor %}
      </ul>
      <h5 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Questions asked during the Q&A session</h5>
      <ul class="text-left animated hiding" data-animation="fadeInUp" data-delay="0"> {% for point in site.webinar3Questions %}
          <li> {{ point.point }} </li>
          {% endfor %}
      </ul>
    </div>
</section>
<section id="webinar2" class="mini-science-series">
    <div class="col-lg-8 col-lg-offset-2">
      <h4 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.webinar2Title }}</h4>
      <p class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.webinar2Description }}</p>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="videoWrapper">
        <iframe src="{{ site.webinar2Video }}" style="padding:15px;border:1px white" allow="accelerometer; gyroscope; encrypted-media; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <h5 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Key points to take home</h5>
      <ul class="text-left animated hiding" data-animation="fadeInUp" data-delay="0"> {% for point in site.webinar2Points %}
          <li> {{ point.point }} </li>
          {% endfor %}
      </ul>
      <h5 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Questions asked during the Q&A session</h5>
      <ul class="text-left animated hiding" data-animation="fadeInUp" data-delay="0"> {% for point in site.webinar2Questions %}
          <li> {{ point.point }} </li>
          {% endfor %}
      </ul>
    </div>
</section>
<section id="webinar1" class="mini-science-series">
    <div class="col-lg-8 col-lg-offset-2">
      <h4 class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.webinar1Title }}</h4>
      <p class="text-middle animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">{{ site.webinar1Description }}</p>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="videoWrapper">
        <iframe src="{{ site.webinar1Video }}" style="padding:15px;border:1px white" allow="accelerometer; gyroscope; encrypted-media; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
</section>
<!-- End Mini Science Series Section -->
