---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="preloader" class="preloader">
      <svg id="Layer_1" class="loading-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 60">
        <defs>
          <style>.cls-1{fill:#00599d;}.cls-2{fill:#2e3192;}.cls-3{fill:#65c8d0;}.cls-4{fill:#d4145a;}.cls-5,.cls-6{fill:none;stroke-miterlimit:10;}.cls-5{stroke:#d4145a;stroke-width:6px;}.cls-6{stroke:#00599d;stroke-width:4px;}</style>
        </defs><title>MSS_logo</title>
          <path class="cls-1" d="M35.1,12.61l-4.6,8.8a48.43,48.43,0,0,0-5.29-8.61c-1.73-2-3.55-3.08-5.82-3.08s-4.2,1.15-6,3.24V2.69a14.53,14.53,0,0,1,6-1.22,14.56,14.56,0,0,1,5.82,1.16C29.43,4.44,32.6,8.41,35.1,12.61Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-1" d="M87.17,2.5v9.36a6.72,6.72,0,0,0-5.51-2.14c-2.47,0-4.42,1.29-6.28,3.63A58.44,58.44,0,0,0,69.78,23c-4.19,8.37-8.93,17.85-19.26,17.85-8,0-12.64-5.67-16.26-12.1L38.87,20c3.88,7.67,7,12.61,11.65,12.61,4.88,0,7.74-5,11.88-13.28,3.22-6.45,6.78-13.57,13-16.49a14.46,14.46,0,0,1,6.28-1.36A14.66,14.66,0,0,1,87.17,2.5Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-1" d="M25.21,5.06V30.39a8.79,8.79,0,0,1-6.3,2.8,8.4,8.4,0,0,1-5.49-2.08v-26Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-1" d="M18.91,40.27a12.58,12.58,0,0,0,6.3-1.63V61.47H13.42V39.06A12.65,12.65,0,0,0,18.91,40.27Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-2" d="M25.21,31.57v5.89a12.58,12.58,0,0,1-6.3,1.63,12.65,12.65,0,0,1-5.49-1.21V32.29a8.4,8.4,0,0,0,5.49,2.08A8.79,8.79,0,0,0,25.21,31.57Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-1" d="M87.17,13.63V30.69a8.66,8.66,0,0,1-6,2.5,8.53,8.53,0,0,1-5.8-2.34V15.11c1.86-2.33,3.81-4.21,6.28-4.21A7.33,7.33,0,0,1,87.17,13.63Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-1" d="M81.18,40.27a12.66,12.66,0,0,0,6-1.46V61.47H75.38V38.9A12.57,12.57,0,0,0,81.18,40.27Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-2" d="M87.17,31.87v5.76a13,13,0,0,1-11.79.09V32a8.58,8.58,0,0,0,5.8,2.34A8.66,8.66,0,0,0,87.17,31.87Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-3" d="M64.33,13.68l-2.62,5C58.67,12.94,55.27,8,50.05,8c-6.33,0-9.79,6.92-13.46,14.26-2.93,5.86-6.15,12.3-11.38,15.24a12.58,12.58,0,0,1-6.3,1.63,12.65,12.65,0,0,1-5.49-1.21V32.29a8.4,8.4,0,0,0,5.49,2.08,8.79,8.79,0,0,0,6.3-2.8c2.77-2.69,4.93-7,7.16-11.46,4-7.91,8.44-16.87,17.68-16.87C56.79,3.24,61,8,64.33,13.68Z" transform="translate(-5.18 -1.47)"/>
          <path class="cls-3" d="M87.17,31.87v5.76a13,13,0,0,1-11.79.09c-3.29-1.67-5.8-4.7-7.92-8.16l2.61-5c1.57,2.89,3.33,5.72,5.31,7.45a8.58,8.58,0,0,0,5.8,2.34A8.66,8.66,0,0,0,87.17,31.87Z" transform="translate(-5.18 -1.47)"/>
          <circle class="cls-4" cx="87.33" cy="8" r="4.13"/>
          <circle class="cls-1" cx="92.56" cy="13.79" r="2.36"/>
          <circle class="cls-4" cx="4.66" cy="32.7" r="2.36"/>
          <line class="cls-2" x1="17.08" y1="57.95" x2="17.08" y2="60"/>
          <line class="cls-2" x1="79.63" y1="57.95" x2="79.63" y2="60"/>
          <circle class="cls-4" cx="1.47" cy="28.99" r="1.47"/>
      </svg>
    </div>

    <div id="st-container" class="st-container disable-scrolling">
        <div class="st-pusher">
            <div class="st-content">

                {{ content }}

                {% include footer.html %}

            </div>
        </div>
    </div>

    {% if page.modal != null %}
    	{% include speakers-modals.html %}
      {% include scientific-committee-modals.html %}
    {% endif %}

    {% if page.permalink == '/schedule/' %}
        {% include sessions-modals.html %}
    {% endif %}

    {% include analytics.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
    }
    </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/' or page.permalink == '/hackathon/' %}
    <script>
        if ($(window).width() > 767) {
            document.write('<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"><\/script>')
        }
    </script>
    {% elsif page.permalink == '/logistics/' %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,geometry"></script>
        <script type="text/javascript">
            var autoDirectionEnabled = {% if site.logisticsMapAutoDirections %} true {% else %} false {% endif %};
        </script>
    {% endif %}
    <script>
        Waves.displayEffect();
        {% if page.permalink == '/' %}
            if ($(window).width() > 767) {
                var googleMaps = 'index',
                    eventPlace = new google.maps.LatLng({{ site.eventPlaceCoordinates | replace:' ','' }}),
                    centerMap = new google.maps.LatLng({{ site.mapCenterCoordinates | replace:' ','' }}),
                    mobileCenterMap = new google.maps.LatLng({{ site.mapMobileCenterCoordinates | replace:' ','' }}),
                    icon = '{{ site.baseurl }}/img/other/map-marker.svg';
            } else {
               var staticGoogleMaps = true,
                eventPlaceCoordinates = '{{ site.eventPlaceCoordinates | replace:' ','' }}',
                centerMapCoordinates = '{{ site.mapCenterCoordinates | replace:' ','' }}',
                mobileCenterMapCoordinates = '{{ site.mapMobileCenterCoordinates | replace:' ','' }}',
                icon = '{{ site.baseurl | prepend: site.url }}/img/other/map-marker.png';
            }
            var twitterFeedUrl = '{{ site.twitterFeed }}';
            $(document).ready(function () {
                $(function () {
                    if ($(window).width() > 767) {
                        $("#typeout-text").typed({
                            strings: [{{site.typeoutTextValues}}],
                            typeSpeed: 150,
                            backDelay: 900,
                            loop: true
                        });
                    }
                });
                var rockstarSpeakers = [
                    {% for speaker in site.data.speakers %}
                        {% if speaker.rockstar %}
                        {name: "{{ speaker.name }} {{ speaker.surname }}", company: "{{ speaker.company }}", image: "{{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }}"}{% if forloop.index != forloop.length %},{% endif %}
                        {% endif %}
                    {% endfor %}
                ];
                rockstarSpeakers.sort(function() {return 0.5 - Math.random()});
                if(rockstarSpeakers.length > 0) {
                    var animationDelay = 1500,
                        count = Math.min({{ site.rockstarSpeakersCount }}, rockstarSpeakers.length),
                        colWidth = 12/count;
                    for(i=0; i<count; i++) {
                        var clearfix = '<div class="clearfix visible-xs"></div>';
                        if ((i)%2 != 0) {
                            clearfix = ""
                        }
                        $('#rockstar-speaker-title').after('<div class="col-md-'+ colWidth +' col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="' + animationDelay +'"><div class="rockstar-speaker"><div class="flow-img img-circle rockstar-speaker-img" style="background-image: url(' + rockstarSpeakers[i].image + ')"></div><div class="name">' + rockstarSpeakers[i].name + '</div><div class="sub">' + rockstarSpeakers[i].company + '</div></div></div>' + clearfix);
                        animationDelay -= 500;
                    }
                }
            });
        {% elsif page.permalink == '/logistics/' %}
            var googleMaps = 'logistics',
                eventPlace = new google.maps.LatLng({{ site.eventPlaceCoordinates }}),
                centerMap = new google.maps.LatLng({{ site.logisticsMapCenterCoordinates }}),
                mobileCenterMap = new google.maps.LatLng({{ site.logisticsMapMobileCenterCoordinates }}),
                icon = '{{ site.baseurl }}/img/other/map-marker.svg';
        {% elsif page.permalink == '/hackathon/' %}
            if ($(window).width() > 767) {
                var googleMaps = 'hackathon',
                    eventPlace = new google.maps.LatLng({{ site.hackathonPlaceCoordinates }}),
                    centerMap = new google.maps.LatLng({{ site.hackathonMapCenterCoordinates }}),
                    mobileCenterMap = new google.maps.LatLng({{ site.hackathonMapMobileCenterCoordinates }}),
                    icon = '{{ site.baseurl }}/img/other/map-marker.svg';
            } else {
               var staticGoogleMaps = true,
                eventPlaceCoordinates = '{{ site.hackathonPlaceCoordinates | replace:' ','' }}',
                centerMapCoordinates = '{{ site.hackathonMapCenterCoordinates | replace:' ','' }}',
                mobileCenterMapCoordinates = '{{ site.hackathonMapMobileCenterCoordinates | replace:' ','' }}',
                icon = '{{ site.baseurl | prepend: site.url }}/img/other/map-marker.png';
            }

        {% endif %}
    </script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/schedule/' %}
        <script type="text/javascript">
            $(document).ready(function () {
                var navHeight = $('#top-header').height();
                var headerHeight = $('.track-header').first().height();
                $('.stick-header').stick_in_parent({sticky_class: 'sticky', offset_top: navHeight});
                $('.stick-label').stick_in_parent({offset_top: navHeight + headerHeight});
            });
        </script>
    {% endif %}

    {% include schema-event.html %}
</body>

</html>
